<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Computer Medic</a>
  </div>
</nav>
<header class="masthead">
  <div class="container position-relative">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="text-center text-white">
          <h1 class="mb-5">Union City's Most Trusted Certified Professionals</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex"><i class="bi-cpu m-auto text-primary"></i></div>
          <h3>All Devices</h3>
          <p class="lead mb-0">We diagnose and repair all devices from computers and laptops to phones and tablets.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex"><i class="bi-tools m-auto text-primary"></i></div>
          <h3>Virus and Malware Removal</h3>
          <p class="lead mb-0">We quickly and efficiently clean and repair all computer viruses.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex"><i class="bi-currency-dollar m-auto text-primary"></i></div>
          <h3>Affordable</h3>
          <p class="lead mb-0">Our services are trustworthy and affordable.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">Hours and Location</h2>
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col"><h3 class="text-start">Monday:</h3></div>
          <div class="col"><h3>10AM - 8PM</h3></div>
        </div>
        <div class="row">
          <div class="col">
            <h3 class="text-start">Tuesday:</h3>
          </div>
          <div class="col">
            <h3>10AM - 8PM</h3>
          </div>
        </div><div class="row">
          <div class="col">
            <h3 class="text-start">Wednesday:</h3>
          </div>
          <div class="col">
            <h3>10AM - 8PM</h3>
          </div>
        </div><div class="row">
          <div class="col">
            <h3 class="text-start">Thursday:</h3>
          </div>
          <div class="col">
            <h3>10AM - 8PM</h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3 class="text-start">Friday:</h3>
          </div>
          <div class="col">
            <h3>10AM - 8PM</h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3 class="text-start">Saturday:</h3>
          </div>
          <div class="col">
            <h3>10AM - 8PM</h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3 class="text-start">Sunday:</h3>
          </div>
          <div class="col">
            <h3>10AM - 8PM</h3>
          </div>
        </div>
        <div class="row  mt-5">
          <div class="col">
          <a href="tel:2016012928" class="text-start"><h3>Phone Number: 201-601-2928</h3></a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.152325119995!2d-74.02471918428623!3d40.780665241348196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258189f418483%3A0xa5927cb641485699!2sComputer%20Medic!5e0!3m2!1sen!2sus!4v1644517391304!5m2!1sen!2sus"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</section>
<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
        <p class="text-muted small mb-4 mb-lg-0">&copy; Computer Medic 2021. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>